{% extends 'student/basic.html' %}
{% block title %} Student {% endblock%}

{%block body %}
<div class="container mt-5">
    <div class="row">
        <div class="shadow col ml-5 mr-3" style="border-radius: 1rem;">
            <img src="https://i.ibb.co/VjwDPLF/login.png" class="w-100">
            <div class="mb-5 text-center">
                <p class="text-center">If you have an account on this portal, you can login here</p>
                <a class="btn btn-outline-primary" href="studentlogin"><b>LOGIN/SIGN IN</b></a>
            </div>
        </div>

        <div class="shadow col mr-5 ml-3" style="border-radius: 1rem;">
            <img src="https://i.ibb.co/HVb348P/signup.png" class="w-100 mt-5 pt-5">
            <div class="mb-5 text-center">
                <p class="text-center">Have you not yet signup? let's signup and get started</p>
                <a class="btn btn-outline-primary" href="signup"><b>SIGN UP</b></a>
            </div>
        </div>
    </div>
</div>

{% endblock%}