<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> Exam portal </title>
    <link rel = "icon" href ="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEPYnnxw1tKE3T7Hfabc8PC_pfc64er6tXk3BhG2C-FppyFd6R&usqp=CAU" type = "image/x-icon"> 
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ITsFORyou</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">SIGN IN AS ADMIN</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="border-radius: 20px;" class="stu btn-outline-primary" href="/student"><b class="mybtn" style="border-radius: 20px;">Student</b></a>
            <a class="dropdown-item" style="border-radius: 20px;" class="stu btn-outline-success" href="/faculty"><b class="mybtn" style="border-radius: 20px;">Faculty</b></a>
          </div>
        </div>
      </div>
    </nav>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 94vh;">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Third slide" style="height: 100%;">

          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-danger">This page is disigned for you</h3>
          </div>
        </div>
        <div class="carousel-item" style="height: 94vh;">
          <img class="d-block w-100" src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="Second slide" style="height: 100%;filter: blur(1px);-webkit-filter: blur(3px);">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-danger">You are its owner</h3>
          </div>
        </div>
        <div class="carousel-item" style="height: 94vh;">
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" alt="First slide" style="height: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-danger">Thankyou</h3>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="red">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEPYnnxw1tKE3T7Hfabc8PC_pfc64er6tXk3BhG2C-FppyFd6R&usqp=CAU" alt="" style="width: 100%;height: 50%;border-radius: 30px;">
          <br>
          <h1 style="text-align: center;font-size: x-large;">Hey Whatsup Guys? Hope You enjoyed it!</h1>
          <h3 style="text-align: center;font-size: large;">This is User and Enviroment freindly Portal</h3><br>
          <div class="mainAction"><a style="border-radius: 30px;" class="btn btn-outline-danger" href="https://www.onlineexambuilder.com/knowledge-center/exam-knowledge-center/what-is-online-examination/item10247">ExamPortal</a>
          </div>
    </div>

  <style>
    @media screen and (min-width: 250px) and (max-width: 700px)
    {
      .red {
        position: absolute;
        top: 150px;
        right: 50%;
        width: 80%;
        margin-right: -40%;
        text-align: center;
        background-color: khaki;
        padding: 20px;
        border-radius: 30px;
      }
    }
    .stu {
      font-size: large;
      font-style: italic;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin: 10px;
      padding: 5px;
    }

@media (min-width: 701px) { 
    .red {
      position: absolute;
      top: 200px;
      right: 50%;
      width: 20%;
      margin-right: -10%;
      text-align: center;
      background-color: khaki;
      padding: 20px;
      border-radius: 30px;
    }
}
body,html{
  height: 100%;
}

  </style>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 3000});
  });
  </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
